.bienvenida-bg {
  background: linear-gradient(to bottom right, #2196f3, #21cbf3);
  color: white;
  text-align: center;
}

.bienvenida-container {
  margin-top: 30%;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
