<ion-app>
  <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/movimientos">Movimientos</ion-item>
      <ion-item routerLink="/scan">Escanear QR</ion-item>
      <ion-item routerLink="/mapa">Ubicación</ion-item>
      <ion-item routerLink="/clientes">Registrar Cliente</ion-item>
      <ion-item (click)="logout()">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
